
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, var, b, i, dl, dt, dd, ol, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
 aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

sub,sup{
 	font-size:xx-small; vertical-align:top;

  padding: 0;
  border: 0;
  
}

/* =============================================================================
   Section Windows
   ========================================================================== */

.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7,
.section8,
.section9,
.section10,
.section11,
.section12,
.section13,
.section14,
.section15,
.section16,
.section17,
.section18,
.section19,
.section20,
.section21,
.section22,
.section23,
.section24,
.section25,
.end-section {  
	height: 1000px;
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


/* =============================================================================
   Backgrounds
   ========================================================================== */

#first { 
	/*background: url(../img/bg-a.png) 50% 0 no-repeat fixed; */
	background-color: #95a5a6;
}
#second { 
	/*background: url(../img/bg-b.png) 50% 0 no-repeat fixed; */
	background-color: #776F64;
}
#third { 
	background-color: #BAAE9E;
	
}
#fourth { 
	background-color: #659CA9;
}
#fifth { 
	background-color: #A4BEC3;


}
#sixth{
	background-color: #F09C48;
}

#seventh{
	background-color: #E9B07C;
}

#eighth{
	background-color: #787F68;
}

#ninth{
	background-color: #D1D6C4;
}

#tenth{
	background-color: #86799B;
}

#eleventh{
	background-color: #8D8695;
}

#twelfth{
	background-color: #535254;
}

#thirteenth{
	background-color: #A9A9A9;
}

#fourteenth{
	background-color: #334C66;
}

#fifteenth{
	background-color: #78ACB5;
}

#sixteenth{
	background-color: #EE797A;
}

#seventeenth{
	background-color: #E4AEB1;	
}

#eighteenth{
	background-color: #893012;	
}
#nineteenth{
	background-color: #A05845;

}

#twentieth{
	background-color: #AB5C97;

}

#twentyfirst{
	background-color: #DFBED9;	
}

#twentysecond{
	background-color: #EE797A;
}
#twentythird{
	background-color: #E4AEB1;	
}
#twentyfourth{
	background-color: #535254;
}
#twentyfifth{
	background-color: #A9A9A9;
}

#end { 
	background: url(../img/bg-b.png) 50% bottom no-repeat fixed; 
}
#web-pages { 
	background: url(../img/bg-a.png) 50% 0 repeat-x fixed; 
}


/* =============================================================================
   Lists
   ========================================================================== */


/* =============================================================================
   Links
   ========================================================================== */


/* =============================================================================
   Images
   ========================================================================== */	

/* =============================================================================
   Special DIVS
   ========================================================================== */

div .dataleft{
	width: 60%; 
	min-height: 400px; 
	margin: 0 auto; 
	padding: 50px; 
	float: left;	
}
div .dataright{
	margin-left: 60%;
	padding-top: 45px;
}

div .conclusion{
	max-width: 90%; 
	height: 500px; 
	margin: 0 auto; 
	padding: 10px; 
	float: left;
}

div .answerheader{
	width: 100%;
}

#topicmenu{
	margin-left: 25%;
}




/* =============================================================================
   Articles
   ========================================================================== */
	

#first article { 
	width: 100%; 
	top: 300px; 
	position: absolute; 
	text-align: center; 
}	


#second article,
#third article,
#fourth article,
#fifth article,
#sixth article,
#seventh article,
#eighth article,
#ninth article,
#tenth article,
#eleventh article,
#twelfth article,
#thirteenth article,
#fourteenth article,
#fifteenth article,
#sixteenth article,
#seventeenth article,
#eighteenth article,
#nineteenth article,
#twentieth article,
#twentyfirst article,
#twentysecond article,
#twentythird article,
#twentyfourth article,
#twentyfifth article,
#end article { 
	width: 90%; 
	margin: 50px 0 0 50px;
	position: absolute;
	top: -1px;
}


	
/* =============================================================================
   Text
   ========================================================================== */

article{
	margin: 0 0 25px 0;

}
article h1 { 

	font-family: 'Alegreya Sans SC', sans-serif; font-weight: 800; 
	letter-spacing: 2px;

	font-size: 80px;
	font-weight: bold;

}

article h2{

	font-family: 'Alegreya Sans SC', sans-serif; font-weight: 100; 
	letter-spacing: 2px;
	font-size: 40px;


}

article h3{
	font-family: 'Alegreya Sans SC', sans-serif; font-weight: 800; 
	letter-spacing: 2px;
	font-size: 30px;
	padding-top: 20px;


}

article h4{
	font-family: 'Alegreya Sans SC', sans-serif; font-weight: 800; 
	letter-spacing: 2px;
	font-size: 20px;

}
article p { 

	font-family: 'Alegreya Sans', sans-serif; font-weight: 100; 

	padding-top: 20px;

	font-size: 16px;
}


li{
	font-family: 'Alegreya Sans', sans-serif; font-weight: 100; 
	letter-spacing: 1px;
}

p {
	font-family: 'Alegreya Sans', sans-serif; font-weight: 100; 
	letter-spacing: 1px;
}

#whiteheading {
	color: #000;
}

.summary {
	font-family: 'Alegreya Sans', sans-serif; font-weight: 100; 
	letter-spacing: 2px;
	font-size: 20px;
}

.btn_showhide {
	-moz-box-shadow:inset -49px -50px 0px -50px #fff000;
	-webkit-box-shadow:inset -49px -50px 0px -50px #fff000;
	box-shadow:inset -30px -02px 0px -50px #cecece;
	background-color:#f0f0f0;
	-webkit-border-top-left-radius:24px;
	-moz-border-radius-topleft:24px;
	border-top-left-radius:24px;
	-webkit-border-top-right-radius:24px;
	-moz-border-radius-topright:24px;
	border-top-right-radius:24px;
	-webkit-border-bottom-right-radius:24px;
	-moz-border-radius-bottomright:24px;
	border-bottom-right-radius:24px;
	-webkit-border-bottom-left-radius:24px;
	-moz-border-radius-bottomleft:24px;
	border-bottom-left-radius:24px;
	text-indent:0px;
	border:5px solid #f0f0f0;
	display:inline-block;
	color: #9e9e9e;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:80px;
	line-height:65px;
	width:200px;
	text-decoration:none;
	text-align:center;
}.btn_showhide:hover {
	background-color:#f0f0f0;
}.btn_showhide:active {
	position:relative;
	top:1px;
}

.emphasisetwo {
	font-family: 'Alegreya Sans', sans-serif; font-weight: 900; 
	letter-spacing: 1px;
	color: #776F64;
}

.emphasisethree {
	font-family: 'Alegreya Sans', sans-serif; font-weight: 900; 
	letter-spacing: 1px;
	color: #d6791b;
}

.emphasisfour {
	font-family: 'Alegreya Sans', sans-serif; font-weight: 900; 
	letter-spacing: 1px;
	color: #5c5070;
}


#first article,
#third article,
#fifth article {
	color: #F7F0D2;
}

#seventh article{
	color: #fff;
} 

#second article,
#forth article,
#sixth article,
#end article {
	color: #232429;
} 

.done{
	color: red;
}
   
   
/* =============================================================================
   Objects
   ========================================================================== */   

#first .object1,
#second .object2,
#third .object3,
#fourth .object4,
#fifth .object5,
#sixth .object6,
#seventh .object7,
#eighth .object8,
#tenth .object10,
#twelfth .object12,
#fourteenth .object14,
#sixteenth .object16,
#eighteenth .object18,
#twentieth .object20,
#twentysecond .object22,
#twentyfourth .object24,
#end .objectend {
	padding: 0; 
	margin: 0; 
	width: 100%;
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	min-height: 1000px;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

#first .object1 { 
	background: url(../img/object1.png) 50% 100px no-repeat fixed; 
}
#second .object2 { 
	/* background-image: url(../img/object2.png); */
	background-image: url(../img/illu/Satisfaction2.png);
}
#third .object3 { 
	/*background-image: url(../img/illu/Satisfaction.png);*/
}
#fourth .object4 { 
	background-image: url(../img/illu/Virgin.png); 
}
#fifth .object5 { 
	background-image: url(../img/illu/Virgin.png); 

}
#sixth .object6{
	background-image: url(../img/illu/Sexpartners.png); 
}
#eighth .object8{
	background-image: url(../img/illu/Length2.png); 
}

#tenth .object10{
	background-image: url(../img/illu/Religion.png); 	
}

#twelfth .object12{
	background-image: url(../img/illu/Shame.png); 
}

#fourteenth .object14 {
	background-image: url(../img/illu/Old.png);
}

#sixteenth .object16 {
	background-image: url(../img/illu/Money.png);
}

#eighteenth .object18 {
	background-image:  url(../img/illu/When.png);
}

#twentieth .object20 {
	background-image: url(../img/illu/Thinking.png);
}

#twentysecond .object22{

}

#twentyfourth .object24{

}

#end .objectend { 
	background: url(../img/objectend.png) 50% 100px no-repeat fixed; 
}
